body {
    background-color: rgb(255, 236, 211);
    font-family: MinecraftiaRegular;
}

.center {
    text-align: center;
}

.first {
    background: lightgrey;
    border: black solid;
    padding-left: 5px;
    margin: 10px;
    border-radius: 6px;
}

.headline{
    font-size: 75px;
    margin: 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "two one one three"
    "four four five three";
}

.one {grid-area: one;}
.two {grid-area: two;}
.three {grid-area: three;}
.four {grid-area: four;}
.five {grid-area: five;}

.box {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    background-color: greenyellow;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(.77,0,.18,1);
}

.box:hover {
    background-color: red;
    transform: rotate(135deg);
}