body {
    background-color: black;
    color: white;
    font-family: Arial;
}

button {
    background-color: dimgray;
    color: white;
    border: solid 2;
    border-color: #333333;
    border-radius: 15px;
}

button:active {
    color: rgba(172, 255, 47, 0.5);
}

.Rechenoperator:active {
    color: lightblue;
}

.ErwRechnungen:active {
    color: lightblue;
}

.equal:active {
    color: goldenrod;
}

.clear-all:active {
    color: rgba(255, 0, 0, 0.5);
}

#sRechner {
    height: 100%;
    width: 100%;
}

.Rechner {
    display: grid;
    gap: 10px;
    grid-template-columns: 100px 7px repeat(4, 100px);
    grid-template-rows: repeat(6, 100px);
    grid-template-areas:
        "output output output output output output"
        "twosqrd nothing clear-all divide multiply minus"
        "tothepower nothing seven eight nine plus"
        "sqrroot nothing four five six plus"
        "root nothing one two three equal"
        "pi nothing negative null comma equal";
    width: fit-content;
    border: solid 3px;
    border-color: lightblue;
    border-radius: 15px;
    padding: 10px;
    margin: auto;
    background-color: #333333;
}

.nothing {
    grid-area: nothing;
}

.null {
    grid-area: null;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.plus {
    grid-area: plus;
}

.minus {
    grid-area: minus;
}

.multiply {
    grid-area: multiply;
}

.divide {
    grid-area: divide;
}

.equal {
    grid-area: equal;
}

.negative {
    grid-area: negative;
}

.comma {
    grid-area: comma;
}

.clear-all {
    grid-area: clear-all;
}

.twosqrd {
    grid-area: twosqrd;
}

.sqrroot {
    grid-area: sqrroot;
}

.root {
    grid-area: root;
}

.pi {
    grid-area: pi;
}

.tothepower {
    grid-area: tothepower;
}

#idAusgabe {
    grid-area: output;
    font-weight: bold;
    background-color: rgb(151, 151, 151);
    color: white;
    font-size: 75px;
    text-align: right;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 15px;
}

.Zahl {
    font-weight: bold;
    font-size: 50;
    background-color: rgb(80, 80, 80);
}

.Rechenoperator {
    font-weight: bold;
    font-size: 50;
}

.ErwRechnungen {
    font-weight: bold;
    font-size: 50;
}

.equal {
    background-color: rgba(172, 255, 47, 0.5);
}
