body {
    background-color: black;
    color: white;
    font-family: arial;
}

input {
    background-color: rgba(128, 255, 128, 0.237);
    color: white;
    border: solid 1px;
    border-color: lightgrey;
    border-radius: 5px;
    text-align: right;
    width: 75px;
}

th {
    text-align: left;
    height: 30px;
    width: 200px;
    background-color: rgb(92, 92, 92);
}

td {
    text-align: right;
    height: 30px;
    width: 110px;
    background-color: rgb(92, 92, 92);
}

table {
}

.inputfelder {
    background-color: rgb(92, 92, 92);
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin-top: -1px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 12px;
    border-bottom: 0px;
    grid-area: erstes;
}

button {
    border: inset 4px;
    border-radius: 7px;
    background-color: rgb(198, 195, 195);
}

.grid {
    display: grid;
    gap: 10px;
    border: outset 3px;
    border-bottom: 0px;
    border-color: grey;
    grid-template-columns: fit-content fit-content;
    grid-template-rows: fit-content fit-content;
    grid-template-areas:
        "first second"
        "third third";
}

.first {
    grid-area: first;
    font-size: 17px;
}

.second {
    grid-area: second;
}

.third {
    grid-area: third;
}

.Output {
    grid-area: zweites;
    text-align: center;
    font-style: italic;
    color: rgb(214, 214, 214);
    border: outset 3px;
    border-color: grey;
    border-top: 0px;
    border-radius: 0px;
    padding: 4px;
    background-color: rgb(92, 92, 92);
}

.Grid2 {
    width: fit-content;
    height: fit-content;
    display: grid;
    gap: 0px;
    border: outset 3px;
    grid-template-columns: fit-content;
    grid-template-rows: fit-content fit-content;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    grid-template-areas:
        "erstes"
        "zweites";
}
