body {
    background-color: rgb(235, 246, 255);
    font-family: "Varela Round";
}

.center {
    text-align: center;
}

.first {
    background: rgb(244, 255, 246);
    border: rgb(0, 0, 0) solid;
    padding-left: 5px;
    margin: 10px;
    border-radius: 6px;
}

.headline {
    font-size: 75px;
    margin: 50px;
}

.grid {
    display: grid;
    gap: 5;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "two one one three"
        "four four five three";
}

.one {
    grid-area: one;
}
.two {
    grid-area: two;
}
.three {
    grid-area: three;
}
.four {
    grid-area: four;
}
.five {
    grid-area: five;
}

.box {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    background-color: greenyellow;
    transition-duration: 750ms;
    transition-timing-function: cubic-bezier(0.77, 0, 0.18, 1);
}

.box:hover {
    background-color: red;
    transform: rotate(90deg);
    border-radius: 50%;
}

.circle {
    margin: auto;
    margin-bottom: 50px;
    border: 10px solid #000000;
    border-top: 10px solid #ffffff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1000ms linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
