h1 {
    font-weight: bolder;
}

h5 {
    background-color: red;
    color: white;
}

p {
    font-weight: bold;
    font-style: italic;
}

table {
    text-align: center;
}

img {
    height: 80px;
}
