body {
    background-color: black;
    color: white;
}

button {
    background-color: dimgray;
    color: white;
}

button:active {
    color: greenyellow;
}

.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "output output output output"
    "kp divide multiply minus"
    "seven eight nine plus"
    "four five six plus"
    "one two three equal"
    "negative null comma equal";
}

.null {
    grid-area null;
}

.one {
    grid-area: one;
}

.two {
    grid-area two;
}

.three {
    grid-area three;
}

.four {
    grid-area four;
}

.five {
    grid-area five;
}

.six {
    grid-area six;
}

.seven {
    grid-area eight;
}

.eight {
    grid-area nine;
}

.nine {
    grid-area two;
}




/*
.Rechner {
    border: 1;
    width: 400px;
}

tr {
    height: 100px;
    width: 400px;
}

#idAusgabe {
    height: 97px;
    width: 386px;
    font-weight: bold;
    background-color: gray;
    color: white;
    font-size: 75px;
    text-align: right;
    padding-right: 15px;
    padding-left: 15px;
}

.Zahl {
    width: 100px;
    height: 100px;
    font-weight: bold;
    font-size: 50;
    text-align: center;
}

.Rechenoperator {
    width: 100px;
    height: 100px;
    font-weight: bold;
    font-size: 50;
    text-align: center;
}

.Rechenoperator2 {
    width: 100px;
    height: 206px;
    font-weight: bold;
    font-size: 50;
    text-align: center;
}
*/